<br><br><br><br><br>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Categories</h2>
<br><br><br>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Political</h2>
    <p>It is very important to care about politics because you should know what is going on around you. Also, it is important to have a say in what is going on around you. The political decisions people make will affect many lives. Many people see politics as the government and the laws being made, and that is true, but it is way more complicated than that. Every law that is made will impact many. Sometimes the decisions will affect people in a bad way.</p>
    <button><a href="/political">Political</a></button><br>
    <button><a href="/political1">Other</a></button>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Bussiness</h2>
    <p>Business is extremely important to a country's economy because businesses provide both goods and services and jobs. Businesses do these things much more efficiently than individuals could on their own. Businesses are the means by which we get most of the goods and services that we, as consumers, want and need.</p><br><br>
    <button> <a href="/business">Business</a></button><br>
    <button><a href="/business1">Other</a></button>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Sports</h2>
    <p>Today sport emerges as an important component of Socio-economic development of a country. The active participation in sports improves community health and productivity, reduces medical expenses, imbibes discipline in character, generates great leaders, and enhances social cohesion.</p><br><br>
    <button><a href="/sports">Sports</a></button><br>
    <button><a href="/sports1">Other</a></button>
  </div>
</div>
<br><br><br><br><br>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Awards</h2>
    <p>Awards can help garner a significant amount of visibility in a certain market or industry, and attract new customers, investors and donors by giving an organization an edge over its competitors. Validate. Awards speak volumes about a company's products or services and substantiate their credibility.</p><br><br>
    <button><a href="/awards">Awards</a></button><br>
    <button><a href="/awards1">Other</a></button>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Health and medicine</h2>
    <p>Medicines and health products are important for addressing health problems and improve quality of lives. They form an indispensable component of health systems in the prevention, diagnosis and treatment of disease and in alleviating disability and functional deficiency.</p><br><br><br>
    <button><a href="/health">Health and medicine</a></button><br>
    <button><a href="/health1">Other</a></button>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Science and technology</h2>
    <p>Science and technology are extremely important in our daily life because they made our life simpler, faster and more secure. While science is the study of physical and the natural world, technology is the application arising from science. Hence we will need both of them in our life.</p><br><br><br>
    <button><a href="/science">Science and technology</a></button><br>
    <button><a href="/science1">Other</a></button>
  </div>
</div>
<br><br><br><br><br>

</body>
</html>
